<div class="container-narrow">
  <div class="jumbotron">
    <h1>Ryan Grablick</h1>

    <p>
      Email: <a href="mailto:rgrablick@gmail.com">rgrablick@gmail.com</a><br/>
      GitHub: <a href="https://github.com/rygr">github.com/rygr</a>
    </p>
  </div>

  <hr>

  <div class="row-fluid">
    <div class="span12">
      <h2>Objective</h2>

      <p>
        To put my experience and skills to work for a dynamic company; helping to provide an excellent product for their customers while continuing to learn and develop my programming knowledge.
      </p>

      <h2>Qualifications</h2>

      <p>
        I am a very hard working, problem solving technical analyst that excels in customer service. Consistently, I receive positive feedback for my eagerness, patience and thoroughness when helping customers and teammates. Also, I am a quick learner who requires very little instruction.
      </p>

      <h2>Professional Experience</h2>

      <strong>Frankenmuth Insurance Company</strong><br/>
      <em>Information Services Business Analyst, May 2006 - Present</em>

      <ul>
        <li>Developed a new way to capture multiple named insureds on a policy</li>
        <li>Lead the automation of several new workers compensation coverages</li>
        <li>Develop EasyTrieve programs to collect and aggregate policy data.</li>
        <li>Utilize Generalized Edits III and Cobol to write edits to prevent incorrect entry on policies</li>
        <li>Utilize Endeavor as a source control on the mainframe</li>
        <li>Create reports through ERAS which included extensive use of the Webi scripting language</li>
        <li>Hand picked to be the resident trainer for our Enterprise Reporting System</li>
        <li>Self-taught our reporting system in two months including Webi a programming language specific to Business Objects</li>
        <li>Created an interactive wiki to use as a user guide for our Reporting System</li>
        <li>Developed an 80 page PDF user guide, complete with many images and embedded video, for our Enterprise Reporting System</li>
        <li>Training material and user guide developed in months versus the prior failed attempts that took years to develop</li>
        <li>Held 35 training classes for over 400 employees on how to analyze data, create and program reports within our Enterprise Reporting system</li>
        <li>Developing training material and user guide for more advanced report designers </li>
        <li>Troubleshoot policy entry issues by testing and reviewing the policy segment structures</li>
        <li>Update SQL database tables and other support tables </li>
      </ul>

      <h2>Personal Experience</h2>

      <ul>
        <li>Studying the Ruby language and the Rails framework with a local mentor</li>
        <li>Committed a few Ruby scripts on Github</li>
        <li>Developed this resume as my first Rails application, available on Github</li>
        <li>Donate time teaching cooking classes through our local community education program</li>
        <li>Compete in a local bbq contest, finishing in first place two out of three years</li>
        <li>Compete in a recreational hockey league as the “Utility Man”, which is a glorified way of saying I play wherever I am needed.</li>
        <li>Kayak Michigan’s beautiful rivers year round</li>
      </ul>

      <h2>Education</h2>

      <strong>University of Michigan</strong><br/>
      Bachelor of Science in Molecular Biology and Biotechnology, 2005<br/><br/>

      <strong>Insurance Institute of America</strong><br/>
      Certificate in General Insurance, 2007<br/>
      Associates in Insurance Services, 2008<br/>
      Currently 2/3’s of the way completed with an Associates in Insurance Technology
    </div>
  </div>
</div>
