<h1>Ryan Grablick</h1>

<p>
989-295-6195<br/>

<a href="mailto:rgrablick@gmail.com">rgrablick@gmail.com</a><br>
<a href="https://github.com/rygr">GitHub</a>
</p>


<h2>Objective</h2>
<p>
To put my experience and skills to work for TeamSnap to help continue  providing an excellent product to their customers.
</p>

<h3>Qualifications</h3>

<p>
I am a very hard working, problem solving technical analyst that excels in customer service.  Consistenly, I receive positive feedback for my eagerness, patience and thouroughness when helping customers and teammates.  Also, I am a quick learner who requires very little instruction.       
</p>

<h2>Professional Experience</h2>

<strong>Frankenmuth Insurance Company</strong><br/>							
<em>Information Services Business Analyst, May 2006 - Present</em><br>

<ul>
<li>Developed a new way to capture multiple named insureds on a policy</li>
<li>Led the automation of several new workers compensation coverages</li>
<li>Write Easytrieve query programs to return policies that meet programming criteria</li>
<li>Utilize Generalized Edits III and Cobol to write edits to prevent incorrect entry on policies</li>
<li>Create reports through our Enterprise Reporting System</li>
<li>Selected to be resident trainer for our Enterprise Reporting System</li>
<li>Learned our reporting system, developed training material and developed a user guide in a short amount of time</li>
<li>Trained over 400 employees on how to analyze data on reports within our Enterprise Reporting system</li>
<li>Developing training material and user guide for more advanced report designers</li>
<li>Troubleshoot policy entry issues by testing and utilizing other analysis tools</li>
</ul>


<h2>Education</h2>

<strong>University of Michigan</strong><br>
Bachelor of Science in Molecular Biology and Biotechnology, 2005<br><br>				

<strong>Insurance Institute of America</strong><br>
Certificate in General Insurance, 2007<br>
Associates in Insurance Services, 2008<br>				
2 out of 3 classes completed for Associates in Insurance Technology			
